/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 May 2023, 1:56:36 am
    Author     : kishi
*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title{
    margin-bottom: 30px;
    color: red;
    font-size: 50px;
    font-family: cursive;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, #D9AFD9 , #97D9E1);
    
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    
}

.nav-links{
    flex: 1;
    text-align: right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.heading1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-id, .product-quantity, .product-price {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-quantity {
  color: #888;
}

.product-price {
  color: #f00;
  font-weight: bold;
}

.product-quantity.out-of-stock {
  color: #f00;
  font-weight: bold;
}

.product-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-details {
  font-size: 14px;
  margin-bottom: 5px;
}
.tablestyle {
    border-collapse: collapse;
    margin: 0 auto;
}

.tabledata{
    padding: 10px;
    border: 1px solid black;
} 